name: Lint Flutter App

on:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: "3.32.6"

      - name: Get dependencies
        run: flutter pub get

      - name: Analyze project
        run: flutter analyze